body h1{
   margin: auto;
   padding: 0%;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   color: rgb(116, 156, 241);
}
body h2{
    margin: auto;
    padding: 1%;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(3, 112, 103);
}

